<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>編集画面</title>
  <style>
    .red{
      color: red;
    }
    .invalid{
      border:2px solid red;
    }
  </style>
</head>
<body>
    <h2>編集</h2>
    <form th:action="@{/update/{id}(id=${id})}" th:object="${person}" method="post">
        <label>名前</label>
        <input type="text" th:field="*{name}" th:errorclass="invalid"><br>
        <div class="red" th:errors="*{name}"></div>

        <label>年齢</label>
        <input type="number" th:field="*{age}" th:errorclass="invalid"><br>
        <div class="red" th:errors="*{age}"></div>

        <label>メールアドレス</label>
        <input type="email" th:field="*{email}" th:errorclass="invalid"><br>
        <div class="red" th:errors="*{email}"></div>
        
        <button>送信</button>
    </form>
</body>
</html>